@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
   /* Light Mode */
   --primary-color: #7360ff;
   --secondary-color: #9a9bef;
   --text-primary-color: #333333;
   --text-secondary-color: #64707d;
   --bg-primary-color: #fff;
   --bg-secondary-color: #f2f2f2;
   --other-color: #fff; 

   /* Icons */
   --color-1: #e65100;
   --color-2: #8a2be2;
   --color-3: #0277bd;
   --color-4: #ffd600;
}

[data-theme="dark"] {
   /* Dark Mode */
   --primary-color: #7360ff;
   --secondary-color: #989aef;
   --text-primary-color: #e1e1ff;
   --text-secondary-color: #fff;
   --bg-primary-color: #000;
   --bg-secondary-color: #111;
   --other-color: #333333;
}

/* Reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* Main  */
body {
   background: var(--bg-primary-color);
   color: var(--text-primary-color);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   line-height: 1.3;
}

img {
   width: 100%;
}

p {
   margin: 10px 0;
   font-weight: 300;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
   color: var(--text-secondary-color);
}

h1, h2, h3, h4 {
   font-weight: 700;
}

/* Navbar */
.navbar {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   width: 100%;
   padding: 20px;
   position: fixed;
   top: 0;
   /* background: var(--bg-secondary-color); */
   z-index: 200;
   height: 70px;
}

.navbar ul {
   display: flex;
}

.navbar ul li a {
   font-size: 0.75rem;
   font-weight: 800;
   margin: 0 30px;
   transition: all 0.3s ease-in-out;
   padding: 20px;
}

.navbar ul li a:hover {
   color: var(--primary-color);
}

.navbar .logo img {
   display: block;
   width: 40px;
}

.navbar .logo {
   transition: all 0.3s ease-in-out;
}

.navbar .logo:hover {
   opacity: 1;
}

/* Hero section */
#hero {
   height: 100vh;
   overflow: hidden;
}

#hero .content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 30px 40px;
   height: 100%;
   position: relative;
   margin-top: 4rem;
}

.content h1 {
   font-size: 1.1rem;
}

.content h2 {
   max-width: 800px;
   font-size: 3rem;
}

.content p {
   margin: 0.9rem 0 2rem;
   color: var(--text-secondary-color);
   font-weight: 500;
}

.content .btn {
   font-weight: 600;
   font-size: 0.8rem;
}

/* Hero image */
.content .content-image img {
   width: 300px;
   border: 1px solid var(--text-secondary-color);
   border-radius: 50%;
   padding: 30px;
   transform: translateY(-40px);
}

.overlay-icons {
   position: relative;
   z-index: 1;
}

/* Hero html icon*/
.content .content-image::before {
   content: '';
   position: absolute;
   top: 50px;
   left: -20px;
   background-image: url(../img/icons8-html-5.svg);
   background-repeat: no-repeat;
   width: 60px;
   height: 60px;
   z-index: 1;
}

/* Hero Js icon*/
.content .content-image::after {
   content: '';
   position: absolute;
   bottom: -20px;
   right: 32%;
   background-image: url(../img/icons8-javascript.svg);
   background-repeat: no-repeat;
   width: 90px;
   height: 90px;
}

/* Hero css icon*/
.content .content-image .overlay-icons::after {
   content: '';
   position: absolute;
   bottom: -35px;
   right: 18px;
   width: 60px;
   height: 60px;
   background-image: url(../img/icons8-css3.svg);
   background-repeat: no-repeat; 
}

/* Hero circle */
main::after {
   content: '';
   position: absolute;
   top: 90px;
   left: -100px;
   background-color: var(--primary-color);
   width: 300px;
   height: 300px;
   border-radius: 50%;
   z-index: -2;
}

/* About */
#about {
   height: 100%;
   padding-top: 20px;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   margin-bottom: 60px;
}

.about {
   background-color: var(--primary-color);
   padding: 1rem;
}

.bio {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   text-align: center;
}

.bio .experience h1 {
   font-weight: 900;
   font-size: 7rem;
}

.bio .experience p {
   font-weight: 700;
   font-size: 0.85rem;
   max-width: 150px;
   margin: 0 auto 20px;
   color: #fff;
}

.bio-stats {
   width: 600px;
   font-size: 1.07rem;
   font-weight: 600;
   text-align: center;
   padding: 20px;
   color: #fff;
}

.bio-stats p {
   font-weight: 300;
   font-size: 1.02rem;
   text-align: center;
   line-height: 1.4;
}

.bio-stats p span {
   margin: 5px;
}

/* Skills Section */
#skills {
   padding: 2rem;
   margin-top: 3rem;
}

.skills {
   display: grid;
   grid-template-columns: 2fr 3fr;
   grid-gap: 1rem;
}

.skills .box-header {
   align-self: center;
   padding: 1rem;
}

.skills .box-header h4 {
   text-align: left;
   margin-bottom: 0.5rem;
   text-transform: uppercase;
}

.skills .box-header h3 {
   font-size: 1.7rem;
}

.skills .box-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-gap: 1rem;
   justify-self: center;
}

.box-container span {
   margin-bottom: 0.8rem;
   font-size: 1.1rem;
}

.box-container h3 {
   font-size: 1rem;
}

/* Projects */
#projects {
   padding: 2rem;
}

#projects.container {
   max-width: 1100px;
}

.project-container {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 1.5rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.project-container .icon-header {
   align-self: flex-end;
   margin-bottom: 1rem;
}

.project-container .icon-header a {
   color: var(--text-secondary-color);
   margin-left: 0.7rem;
   font-size: 1.1rem;
}

.project-container .icon-header a:hover {
   color: var(--primary-color);
}

.project-container header {
   line-height: 1.7;
   margin-bottom: 1.5rem;
}

.project-container ul {
   display: flex;
}

.project-container li {
   margin-right: 0.5rem;
   font-size: 0.8rem;
   color: var(--primary-color);
} 

/* Contact */
.contact {
   margin: 2rem 0;
}

.contact .container {
   max-width: 1100px;
}

.contact .form-header {
   text-align: center;
   margin: 1rem 0;
}

.form-header h2 {
   font-size: 3.4rem;
}

.form-header p {
   width: 700px;
   margin: 0 auto;
   padding: 0.5rem;
   padding-bottom: 2rem;
}

/* Form */
.form-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   height: 100%;
}

.form-image {
   background: url(/img/Pattern.svg) no-repeat center left/cover;
   object-fit: cover;
}

.form-page {
   align-self: center;
   border: 1px solid var(--bg-secondary-color);
}

.form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 1.5rem;
   grid-column: 1 span 3; 
}

.form-group {
   margin-bottom: 1.2rem;
}

.form-group label {
   display: block;
   font-size: 0.8rem;
   padding-bottom: 0.5rem;
   color: var(--text-primary-color);
}

.form-group input, .form-group textarea, .form-group button {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   display: block;
   color: var(--text-secondary-color);
   width: 100%;
   padding: 1rem;
   border: 1px solid var(--bg-secondary-color);
   border-radius: 3px;
   outline: none;
   transition: border 0.3s ease-in-out;
   font-size: 0.9rem;
}

.form-group input:focus, 
.form-group textarea:focus {
   border: 1px solid var(--primary-color);
} 

.form-group .btn {
   background-color: var(--primary-color);
   color: #fff;
   transition: all 0.4s ease-in-out;
   font-size: 0.8rem;
   font-weight: 600;
}

/* Footer */
#footer {
   background-color: var(--bg-secondary-color);
}
   
   
#footer .footer-container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem 2rem;
}

#footer .footer-container .btn {
   padding: 0.3rem 0.5rem;
   justify-self: flex-end;
}

#footer .footer-container .icons a {
   font-size: 1rem;
   margin: 0 5px;
   padding: 10px;
   width: 35px;
   height: 35px;
   border-radius: 50%;
   transition: all 0.3s ease-in-out; 
}

#footer .footer-container p {
   text-align: center;
   font-size: 0.8rem;
   font-weight: 600;
   transform: translateX(-37%);
}