@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  /* Light Mode */
  --primary-color: #7360ff;
  --secondary-color: #9a9bef;
  --text-primary-color: #333333;
  --text-secondary-color: #64707d;
  --bg-primary-color: #fff;
  --bg-secondary-color: #f2f2f2;
  --other-color: #ccc;
  --navbar-bg: rgba(0, 0, 0, 0.1);
  --rotate-color: #000;

  /* Icons */
  --color-1: #e65100;
  --color-2: #8a2be2;
  --color-3: #0277bd;
  --color-4: #ffd600;
}

[data-theme="dark"] {
  /* Dark Mode */
  --primary-color: #7360ff;
  --secondary-color: #989aef;
  --text-primary-color: #fff;
  --text-secondary-color: #64707d;
  --bg-primary-color: #000;
  --bg-secondary-color: #111;
  --other-color: #232323;
  --navbar-bg: rgba(0, 0, 0, 0.4);
  --rotate-color: #fff;
}

html {
  scroll-behavior: smooth;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main  */
body {
  background: var(--bg-primary-color);
  color: var(--text-primary-color);
  font-family: "Proxima", sans-serif;
  line-height: 1.3;
}

@font-face {
  font-family: "Proxima";
  font-style: normal;
  font-weight: normal;
  src: local("Proxima"),
    url("/assets/font/ProximaNova-Regular.otf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Jetbrains";
  font-style: normal;
  font-weight: normal;
  src: local("Jetbrains"),
    url("/assets/font/JetBrainsMono-Regular.woff2") format("truetype");
}

img {
  width: 100%;
  height: 100%;
}

p {
  margin: 10px 0;
  font-weight: 300;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-primary-color);
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  position: fixed;
  top: 0;
  background: var(--bg-secondary-color);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  z-index: 200;
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar ul li a {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  margin: 0 20px;
  transition: all 0.3s ease-in-out;
  padding: 20px;
}

.navbar ul li a .nav-icon {
  margin-right: 0.4rem;
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

.navbar .logo img {
  display: block;
  width: 40px;
}

.navbar .logo {
  transition: all 0.3s ease-in-out;
}

.navbar .logo:hover {
  opacity: 1;
}

/* Hamburger menu */
.hamburger {
  display: none;
}

.nav-menu {
  display: flex;
}

.bar {
  display: block;
  width: 27px;
  height: 3px;
  margin: 5px auto;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  background-color: var(--text-primary-color);
}

/* Hero section */
#hero {
  height: 100vh;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
}

/* Hero circle primary*/
#hero::after {
  content: "";
  position: absolute;
  top: 40px;
  left: -100px;
  background-color: var(--primary-color);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: -2;
  transition: 0.5s;
  animation: animation 4s infinite alternate-reverse forwards ease-in-out;
}

#hero .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 40px;
  margin-bottom: 2rem;
  height: 100%;
  position: relative;
  margin-top: 4rem;
}

.content h1 {
  font-size: 1.1rem;
}

.content h2 {
  max-width: 800px;
  font-size: 2.8rem;
}

.content p {
  margin: 0.9rem 0 2rem;
  font-weight: 500;
}

.content .btn {
  border: 1px solid #bbb;
  font-weight: 600;
  font-size: 0.8rem;
}

.content .btn span {
  margin-left: 0.1rem;
}

/* Hero image */
.content .content-image img {
  width: 300px;
  border: 1px solid var(--text-secondary-color);
  border-radius: 50%;
  padding: 30px;
  transform: translateY(-40px);
}

.overlay-icons {
  position: relative;
  z-index: 1;
}

/* Hero html icon*/
.content .content-image::before {
  content: "";
  position: absolute;
  top: 50px;
  left: -20px;
  background-image: url(/img/home/html5.svg);
  background-repeat: no-repeat;
  width: 60px;
  height: 60px;
  z-index: 1;
}

/* Hero Js icon*/
.content .content-image::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 32%;
  background-image: url(/img/home/javascript.svg);
  background-size: 60px;
  background-repeat: no-repeat;
  width: 90px;
  height: 90px;
}

/* Hero css icon*/
.content .content-image .overlay-icons::after {
  content: "";
  position: absolute;
  bottom: -105px;
  right: -30px;
  width: 60px;
  height: 60px;
  background-image: url(/img/home/css3.svg);
  background-repeat: no-repeat;
}

/* About */
#about {
  min-height: 100vh;
  background: var(--bg-secondary-color);
  padding-left: 1rem;
  padding-bottom: 1rem;
}

#about a {
  text-decoration: underline;
}

.bio {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  height: 100%;
}

.bio p {
  font-size: 1.1rem;
  margin-top: 1.5rem;
  max-width: 1000px;
}

.bio ul {
  list-style: disc;
  font-size: 1em;
  margin-top: 1.5rem;
  padding-left: 2rem;
}

/* Skills Section */
#skills {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.skills {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 1rem;
}

.skills .box-header {
  align-self: center;
  padding: 1rem;
}

.skills .box-header .head-text {
  text-align: left;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  font-size: 1rem;
}

.skills .box-header h3 {
  font-size: 1.7rem;
}

.skills .box-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  justify-self: center;
}

.box-container span {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
}

.box-container h3 {
  font-size: 1rem;
}

/* Language Icons */
.icons .icon {
  font-size: 1.5rem;
}

/* Projects */
#projects {
  padding: 2rem;
}

#projects .readmore {
  text-align: center;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  margin-bottom: 3rem;
}

#project-full {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
  margin-bottom: 7rem;
}

.project-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 2rem 0;
}

.project-content .project-image {
  position: relative;
  overflow: hidden;
}

.project-content .project-image img {
  transform-origin: 0 0;
  transition: transform 2s, filter 2s ease-in-out;
  filter: grayscale(20%);
}

.project-content .project-image:hover img {
  filter: brightness(100%);
  transform: scale(1.16);
}

/* Project CTA */
.project-content .btn {
  position: absolute;
  top: 40px;
  left: 0;
}

.project-content .project-image:hover .btn {
  opacity: 1;
}

.project-content .project-image img {
  width: 100%;
  height: 100%;
}

.project-content .btn {
  opacity: 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
}

.card-content a {
  text-decoration: underline;
  transition: 0.2s ease-in-out;
}

.card-content a:hover {
  color: var(--primary-color);
}

.card-content h2 {
  color: var(--primary-color);
  font-size: 1.1rem;
}

.card-content .project-info .stack {
  text-transform: uppercase;
  padding-bottom: 0.5rem;
  color: var(--primary-color);
}

.card-content .project-links a {
  margin-right: 0.4rem;
}

.project-container .icon-header {
  align-self: flex-end;
  margin-bottom: 1rem;
}

.project-container .icon-header a {
  color: var(--text-primary-color);
  margin-left: 0.7rem;
  font-size: 1.1rem;
}

.project-container .icon-header a:hover {
  color: var(--primary-color);
}

.project-container header {
  line-height: 1.7;
  margin-bottom: 1.5rem;
}

.project-container ul {
  display: flex;
}

.project-container li {
  margin-right: 0.5rem;
  font-size: 0.8rem;
  color: var(--primary-color);
}

/* Contact */
.contact {
  margin: 2rem 0;
}

.contact .container {
  max-width: 1100px;
}

.contact .form-header {
  text-align: center;
  margin: 1rem 0;
}

.form-header h2 {
  font-size: 3.5rem;
}

.form-header .head-text {
  font-size: 1.2rem;
}

.form-header p {
  max-width: 700px;
  margin: 0 auto;
  padding: 0.5rem;
  padding-bottom: 2rem;
}

/* Form */
.form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.form-image {
  background: url(/img/home/Pattern.svg) no-repeat center left/cover;
  object-fit: cover;
}

.form-page {
  align-self: center;
  padding: 1rem 0;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  grid-column: 1 span 3;
}

.form-group {
  margin-bottom: 1.2rem;
}

.form-group label {
  display: none;
}

.form-group input,
.form-group textarea,
.form-group button {
  font-family: "Proxima", sans-serif;
  display: block;
  color: var(--text-primary-color);
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--other-color);
  outline: none;
  transition: border 0.3s ease-in-out;
  font-size: 0.9rem;
}

.group-bg input,
.group-bg textarea {
  background-color: var(--other--color);
}

.form-group input:focus,
.form-group textarea:focus {
  border-bottom: 1px solid var(--primary-color);
}

.form-group .btn {
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}

/* Thank you page */
.thankyou {
  height: 100vh;
}

.thankyou-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text-primary-color);
  height: 100%;
  overflow: hidden;
  padding: 1rem;
  text-align: center;
}

.thankyou-content h1::before {
  content: "";
  position: absolute;
  top: -400px;
  left: -700px;
  width: 700px;
  height: 700px;
  background-color: var(--primary-color);
  border-radius: 50%;
  z-index: -40000;
  animation: animate infinite 50s forwards alternate ease-in-out;
}

.thankyou-content h1::after {
  content: "";
  position: absolute;
  bottom: -500px;
  right: -700px;
  width: 700px;
  height: 700px;
  background-color: var(--primary-color);
  border-radius: 50%;
  z-index: -40000;
  animation: animate infinite 50s forwards alternate-reverse ease-in-out;
}

@keyframes animate {
  10% {
    transform: translateX(100px);
  }
  15% {
    transform: translateY(-100px);
  }
  20% {
    transform: translateX(200px);
  }
  25% {
    transform: translateY(-200px);
  }
  30% {
    transform: translateX(300px);
  }
  35% {
    transform: translateY(-300px);
  }
  40% {
    transform: translateX(110px);
  }
  45% {
    transform: translateY(-110px);
  }
  50% {
    transform: translateX(130px);
  }
  55% {
    transform: translateY(-130px);
  }
  60% {
    transform: translateX(150px);
  }
  65% {
    transform: translateY(-150px);
  }
  70% {
    transform: translateX(170px);
  }
  75% {
    transform: translateY(-170px);
  }
  80% {
    transform: translateX(190px);
  }
  85% {
    transform: translateY(-190px);
  }
  90% {
    transform: translateX(210px);
  }
  95% {
    transform: translateY(-210px);
  }
  100% {
    transform: translateX(100px);
  }
  105% {
    transform: translateY(-100px);
  }
}

.thankyou-content h1 {
  line-height: 1.1;
  font-size: 4rem;
  position: relative;
}

.thankyou-content p {
  font-size: 1.3rem;
  padding: 0 1rem;
}

/* External projects page */
#hero-project .navbar {
  background: var(--navbar-bg);
  border-bottom: 0;
  position: sticky;
}

#hero-project {
  height: 50vh;
  background: url(../img/projects/projects.jpg) no-repeat center center/cover;
  box-shadow: inset 10px 100px 1000px rgba(0, 0, 0, 0.9);
}

#hero-project .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  color: #fff;
  padding-left: 2rem;
}

#hero-project .content-text {
  margin-bottom: 2rem;
}

#hero-project .content-text .underline {
  background: #fff;
}

/* Footer */
#footer {
  background-color: var(--bg-secondary-color);
}

#footer .footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

#footer .footer-container .btn {
  padding: 0.3rem 0.5rem;
  justify-self: flex-end;
}

#footer .footer-container .icons a {
  font-size: 1rem;
  margin: 0 5px;
  padding: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

#footer .footer-container p {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  transform: translateX(-37%);
}

#footer .btn-scroll-top {
  display: inline-block;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.4rem 0.6rem;
  transition: all 0.3s ease-in-out;
  border: 1px solid var(--bg-secondary-color);
}

#footer .btn-scroll-top:hover {
  background-color: #fff;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

#footer .btn-scroll-top span {
  transition: all 0.3s cubic-bezier(0, 0, 1, 0);
}
#footer .btn-scroll-top:hover span {
  transform: translateY(-5px);
}

.social div {
  margin-top: 0.5rem;
}

.social div img {
  width: 135px;
  height: 100%;
}

/* Circle Animation */
@keyframes animation {
  0% {
    transform: translate(0);
  }

  50% {
    transform: translate(40px);
  }

  100% {
    transform: translate(0);
  }
}

/* Responsive */
@media (max-width: 890px) {
  /* Project */
  .project-content {
    grid-template-columns: 1fr;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.5rem 0;
  }

  /* Footer */
  #footer .footer-container {
    flex-direction: column;
    justify-content: center;
  }

  #footer .footer-container .btn-scroll-top {
    display: none;
  }

  #footer .footer-container p {
    transform: translateX(0);
  }

  #project-full {
    grid-template-columns: repeat(1, 1fr);
  }

  .skills {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }

  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .navbar ul li a {
    margin: 0;
  }
}

/* Navbar */
@media (max-width: 768px) and (max-width: 701px) {
  .navbar {
    justify-content: space-between;
  }

  .logo {
    order: 1;
  }

  #menu {
    order: 3;
  }

  .theme-switch-wrapper {
    order: 2;
  }

  .navbar ul li a:hover {
    background-color: var(--primary-color);
    color: #fff;
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 0;
    flex-direction: column;
    width: 70%;
    height: 100%;
    text-align: right;
    transition: 0.3s;
    background-color: var(--bg-secondary-color);
  }

  /* Add spacing between hamburer and navigation menu */
  .nav-menu li:first-child {
    margin-top: 4rem;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-items {
    width: 100%;
    border-bottom: 1px solid var(--other-color);
  }

  .nav-link {
    display: inline-block;
    width: 100%;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  body {
    overflow-x: hidden;
  }

  #hero {
    margin-top: 2rem;
  }

  #hero .content {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .content-text {
    margin-bottom: 3rem;
  }

  .content h2 {
    font-size: 2.4rem;
  }

  .content p {
    max-width: 300px;
  }

  /* Hero circle */
  #hero::after {
    top: 5%;
    left: 70%;
  }

  .content .content-image {
    margin-top: 1rem;
  }
}

@media (max-width: 700px) {
  #hero {
    height: 130vh;
  }

  #hero .content {
    justify-content: space-around;
  }

  .content p {
    margin: 1rem 0;
  }

  .skills .box-header {
    transform: translateY(-50px);
    padding-bottom: 0;
  }

  .skills .box-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .form-container {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }

  .form-image {
    height: 200px;
  }

  #skills {
    padding: 1rem;
  }
}

@media (max-width: 500px) {
  .skills .box-container {
    grid-template-columns: 1fr;
  }

  .project-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  #hero {
    height: 100%;
  }

  .content h1 {
    font-size: 0.8rem;
  }

  .content h2 {
    font-size: 1.3rem;
  }
}
