/* Utilities */
.text-primary {
    color: var(--medium-slate-blue);
    font-weight: 600;
}

.text-secondary {
    color: #fff;
    font-weight: 600;
}

.underline {
    display: inline-block;
    width: 50px;
    height: 1px;
    margin: 0 10px 0;
}

.underline-light {
    background-color: #fff;
}

.bg-primary, .underline-primary {
    background-color: var(--primary-color);
}

.bg-secondary, .underline-secondary {
    background-color: var(--medium-slate-blue);
}


/* Title text */
.head-text {
    text-align: center;
    margin: 30px 0;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: var(--medium-slate-blue);
    font-weight: 600;
}

/* Buttons */
.btn {
    display: inline-block;
    background-color: var(--medium-slate-blue);
    color: #fff;
    padding: 1.125rem 1.75rem;
    border-bottom: 2px solid var(--medium-slate-blue);
    border-radius: 1px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.btn:hover {
    border-bottom: 2px solid var(--medium-slate-blue);
    background-color: #fff;
    color: var(--medium-slate-blue);
}

.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    border-color: var(--primary-color);
}

.icons span {
    font-size: 1.6rem;
    margin: 15px 30px;
    padding: 12px 10px;
    width: 50px;
    height: 50px;
    border: 1px solid var(--medium-slate-blue);
    border-radius: 50%;
    color: var(--medium-slate-blue);
    transition: all 0.3s ease-in-out; 
}

.icons span:hover {
    border: 1px solid #fff;
    color: #fff;
}

/* Animation */
.animation {
    animation: anime 0.7s 1 forwards cubic-bezier(1, 1, 1, 1);
}

@keyframes anime {
    from {
        transform: translateY(10px) translateX(10px);
    }
    
    to {
        transform: translateY(0) translateX(0);
    }
}

/* Responive */
.Xlarge-screen {
    max-width: 2500px;
    margin: 0 auto;
}

.large-screen {
    margin: 0 auto;
    max-width: 1200px;
}

.med-screen {
    margin: 0 auto;
    max-width: 1000px;
}

.small-screen {
    margin: 0 auto;
    max-width: 600px;
}

.mobile {
    margin: 0 auto;
    max-width: fit-content;
}