@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    --medium-slate-blue: #7360ff;
    --oxford-blue: #040f25;
    --queen-blue: #4c6ca0;
    --baby-blue-eyes: #a3cef1;
    --alice-blue: #e7ecef;
    --jet: #333333;
    --primary-color: #9c138f;
    --secondary-color: #747a7e;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main  */
body {
    background-color: #fff;
    color: var(--secondary-color);
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 10px 0;
    font-weight: 300;
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--medium-slate-blue);
}

h1, h2, h3, h4 {
    font-weight: 700;
}

/* Navbar */
#navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    position: fixed;
    height: 70px;
    width: 100%;
    top: 0;
}

#navbar ul {
    display: flex;
}

#navbar ul li a {
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0.8;
    margin: 0 30px;
    transition: color 0.3s ease-in-out;
}

#navbar ul li a:hover {
    opacity: 1;
}

#navbar .logo a {
    margin-left: 30px;
}

#navbar .logo img {
    width: 50px;
    border-radius: 50%;
    margin-top: 5px;
    transition: opacity 0.3s ease-in-out;
}

#navbar .logo img:hover {
    opacity: 0.8;
}

/* About */
.about {
    height: 100vh;
    padding: 30px 0 50px;
}

.about .about-stats {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: linear-gradient(to left, var(--medium-slate-blue), var(--primary-color));
    color: #fff;
    height: 60%;
    padding: 50px 20px 10px;
    line-height: 1.1;
}

.about-stats::before {
    content: '';
    position: absolute;
    top: 85%;
    left: -70px;
    background: linear-gradient(to bottom, var(--medium-slate-blue), var(--primary-color));
    width: 100px;
    height: 100px;
    border-radius: 50%;
    opacity: 0.8;
}

.about-stats .btn {
    font-size: 0.8rem;
    font-weight: 400;   
}

.about-stats h1, .about-stats p {
    font-weight: 300;
    font-size: 1.1rem;
}

.about-stats h2 {
    font-size: 2.8rem;
}

img {
    width: 300px;
}

/* About: Profile  */
.bio {
    height: 40%;
    position: relative;
    margin: 0 15px;
}

.about-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 20px;
}

/* Skills */
#skills {
    height: 400px;
}

.technologies {
    height: 50%;
}

.technologies .stack {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #fff;
    margin: auto;
    height: 150px;
}

.stack span {
    border: 1px solid var(--medium-slate-blue);
    color: var(--medium-slate-blue);
}

.stack span:hover {
    background-color: var(--medium-slate-blue);
    color: #fff;
    border-color: #fff;
}

.flex .row {
    text-align: left;
    color: var(--secondary-color);
}

.flex .row .column {
    padding: 20px;
    margin: 20px;
}

.flex .row .column span {
    color: var(--medium-slate-blue)
}