@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
    /* Color code */
    --medium-slate-blue: #7360ff;
    --oxford-blue: #040f25;
    --total-dark: #000;
    --queen-blue: #4c6ca0;
    --baby-blue-eyes: #a3cef1;
    --alice-blue: #e7ecef;
    --jet: #333333;
    --primary-color: #9c138f;
    --secondary-color: #bbb;
    
    /* Resolutions */
    --xl-screen: 2000px;
    --lg-screen: 1200px; 
    --med-screen: 768px; 
    --sml-screen: 500px; 
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main  */
body {
    background-color: var(--total-dark);
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.3;
}

img {
    width: 300px;
}

p {
    margin: 10px 0;
    font-weight: 300;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
}

h1, h2, h3, h4 {
    font-weight: 700;
}

/* Navbar */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    width: 100%;
    padding: 20px;
    margin: 10px 0;
}

.navbar ul {
    display: flex;
}

.navbar ul li a {
    font-size: 0.75rem;
    font-weight: 800;
    margin: 0 30px;
    border-bottom: 1px solid #000;
    transition: all 0.3s ease-in-out;
    padding: 20px;
}

.navbar .logo img {
    display: block;
    width: 40px;
}

.navbar .logo {
    transition: all 0.3s ease-in-out;
    opacity: 0.85;
}

.navbar .logo:hover {
    opacity: 1;
}

/* Hero section */
#hero {
    height: 100vh;
    overflow: hidden;
}

#hero .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 40px;
    height: 550px;
    position: relative;
}

.content h1 {
    color: linear-gradient(to left, var(--medium-slate-blue), var(--primary-color));
    font-size: 1.1rem;
}

.content h2 {
    font-weight: 800;
    max-width: 800px;
    font-size: 3rem;
}

.content p {
    margin: 0.9rem 0 2rem;
    color: var(--secondary-color);
    font-weight: 600;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.content .btn {
    font-weight: 600;
    font-size: 0.8rem;
}

/* Hero image */
.content .content-image img {
    border: 1px solid #333;
    padding: 30px;
    border-radius: 50%;
    transform: translateY(-40px);
}

.content .content-image,
.content .content-image {
    position: relative;
    transition: all 0.5s ease-in-out;
    animation: anime-2 1.5s 4 alternate-reverse forwards ease-in-out;
}

.overlay-icons {
    position: relative;
    z-index: 1;
}

/* Hero html icon*/
.content .content-image::before {
    content: '';
    position: absolute;
    top: 50px;
    left: -20px;
    background-image: url(./img/icons8-html-5.svg);
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    z-index: 1;
}

/* Hero Js icon*/
.content .content-image::after {
    content: '';
    position: absolute;
    bottom: -20px;
    right: 32%;
    background-image: url(./img/icons8-javascript.svg);
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
}

/* Hero css icon*/
.content .content-image .overlay-icons::after {
    content: '';
    position: absolute;
    bottom: -35px;
    right: 18px;
    width: 60px;
    height: 60px;
    background-image: url(./img/icons8-css3.svg);
    background-repeat: no-repeat; 
}

/* Hero circle */
main::after {
    content: '';
    position: absolute;
    top: 90px;
    left: -100px;
    background-color: var(--medium-slate-blue);
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: -2;
}

/* About */
#about {
    height: 100%;
    padding-top: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    padding: 0 30px 30px;
    margin-bottom: 60px;
}

.bio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    border: 1px solid var(--jet);
    border-radius: 20px;
    background-color: #0a0a0a;
    padding: 20px;
    margin-bottom: 50px;
}

.bio .experience {
    width: 140px;
}

.bio .experience h1 {
    font-weight: 900;
    font-size: 7rem;
}

.bio .experience p {
    font-weight: 700;
    color: #fff;
}

.bio-stats {
    margin-top: 20px;
    width: 600px;
    font-size: 1.07rem;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    color: #fff;
}

.bio-stats p {
    font-weight: 300;
    font-size: 1.02rem;
    text-align: center;
    line-height: 1.4;
}

.bio-stats p span {
    margin: 5px;
}

/* Skills Section */
.skills {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid var(--jet);
    border-radius: 20px;
    background-color: #0a0a0a;
}

.skills .column {
    padding: 20px;
}

/* Technology Section */
#technologies {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 20px;
    height: 200px;
}

#technologies div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
    text-align: center;
}


/*
.about-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    max-width: 900px;
    padding: 0 20px;
}

#skills {
    height: 400px;
}

.technologies {
    height: 50%;
}

.technologies .stack {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: #040f25;
    border-top: 1px solid var(--medium-slate-blue);
    border-bottom: 1px solid var(--medium-slate-blue);
    margin: auto;
    height: 150px;
}

.stack span {
    border: 1px solid var(--medium-slate-blue);
    color: var(--medium-slate-blue);
}

.stack span:hover {
    background-color: var(--medium-slate-blue);
    color: #fff;
    border-color: #fff;
}

.flex .row {
    text-align: left;
    color: #f4f4f4;
}

.flex .row .column {
    padding: 20px;
    margin: 20px;
}

.flex .row .column span {
    color: var(--medium-slate-blue)
} */